body {
    line-height: 1.5;
    font-family: Arial;
    margin: 50px;
}

.container {
    display: flex;
    gap: 40px;
}

.content {
    width: 60%;
}

.sidebar {
    width: 40%;
}

.content>button {
    margin-top: 20px;
}

.btn {
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.content>h1 {
    font-size: 40px;
    text-transform: capitalize;
}

.sidebar>h3 {
    font-size: 22px;
}

#image-sidebar {
    width: 100%;
}

p {
    /* text-align: justify; */
    line-height: 1.5;
    font-size: 15px;
}

.content>img {
    width: 100%;
    height: 400px;
    object-fit: fill;
}

.note {
    display: flex;
    /* gap: 10px; */
    color: #6f6f6f;

}

.note>p>i {
    text-align: left;
    font-size: 14px;
    padding: 0 10px;
}

i {
    margin-right: 0px;
}

.section1 {
    display: flex;
    width: 100%;
}

.media {
    width: 10%;
    /* margin: 30px 0; */
}

.icon-media-facebook {
    background-color: #455fa1;
    color: #fff;
}

.icon-media-facebook,
.icon-media-twitter,
.icon-media-pinterest,
.icon-media-linkedin,
.icon-media-heart,
.icon-media-eye {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
}

.icon-media-twitter {
    background-color: #58abf5;
    color: #fff;
}

.icon-media-pinterest {
    background-color: #cd1d1f;
    color: #fff;

}

.icon-media-linkedin {
    background-color: #1980be;
    color: #fff;

}

.icon-media-heart,
.icon-media-eye {
    border: 1px solid black;
}

.icon-media-heart {
    position: relative;
}

.icon-media-heart .badge {
    width: 17px;
    height: 15px;
    line-height: 15px;
    background-color: black;
    position: absolute;
    top: -2px;
    right: -5px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
}

.icon-media-eye {
    position: relative;
}

.icon-media-eye .badge {
    width: 30px;
    height: 15px;
    line-height: 15px;
    background-color: black;
    position: absolute;
    top: -5px;
    right: -10px;
    border-radius: 10px;
    font-size: 10px;
    color: white;
}

.media1 {
    padding: 15px 0;
    color: #fff;
}

#facebook {
    background-color: #45629f;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#youtube {
    background-color: #c61d23;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#vimeo {
    background-color: #1ab7ea;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#pinterest {
    background-color: #e60023;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.index-name {
    padding-right: 10px;
}

.text {
    width: 90%;
}

.introduce {
    max-width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
}

.introduce>h2 {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}

h5 {
    font-size: 28px;
    margin: 10px 0px;
}

.introduce>p {
    font-size: 14px;
}

.image {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.image>img {
    width: 100%;
    border-radius: 10px;
}

.img-text {
    width: 100%;
    position: relative;
}

.img-text>img {
    width: 100%;
    height: 500px;
}

.img-text>p {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
}

.tag>button {
    border-radius: 10px;
    /* border: 1px solid #777; */
    margin: 20px 0px;
    background-color: #fff;
}

.previous {
    color: #777;
}

.text-previous {
    width: 80%;
    font-size: 20px;
    /* Viết hoa toàn bộ chữ đầu tiên của 1 từ */
    text-transform: capitalize;
}

.cus-rate {
    background-color: #f8f9fa;
    padding: 10px;
}

.rate {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
    padding: 10px;
}

.image-cus>img {
    height: auto;
    border-radius: 600px;
}

.icon-rate>i {
    padding-right: 10px;
}

.blog-related {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}

.picture,
.content-blog {
    width: 100%;
    height: 100%;
}

.blog {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 20px;
}

.blog-related .blog .picture>img {
    width: 100%;
    min-height: 100%;
}

.blog .content-blog {
    width: 100%;
}

.content-blog>h2 {
    margin: 0;
}

.content-blog>h2>a {
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
    color: black;
}

.content-blog>p {
    margin: 0;
}

.text-note {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    font-size: 16px;
    color: #555;
}

.contact-full {
    width: 100%;
}

textarea {
    width: 100%;
}

.contact {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin: 10px 0px;
}

.contact>input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #777;

}

.btnsave {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

.media1 {
    display: flex;
    justify-content: space-between;
}

.art-fashion {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.art-fashion .blog .picture>img {
    width: 100%;
    min-height: 100%;
}

.content-blog>a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

img {
    border-radius: 10px;
    object-fit: fill;
}

/* Max width 1400px */
/* Max width 1200px */
@media (max-width: 1200px) {
    body {
        margin: 40px;
    }

    .rate {
        display: flex;
        gap: 20px;
    }

    .image-cus {
        width: 30%;
    }

    .content-cus {
        width: 70%;
    }

    .text-note {
        padding: 0;
    }

    .contact {
        display: flex;
    }

    .contact>input {
        width: 33.333%;
    }

    .content>h1 {
        font-size: 30px;
    }

    p {
        margin: 10px 0;
    }

    .section1 {
        gap: 15px;
    }

    .blog-related .blog {
        display: flex;
        gap: 20px;
    }

    .blog-related .blog .picture {
        width: 35%;
    }

    .blog-related .blog .content-blog {
        width: 65%;
    }

    h3 {
        font-size: 22px;
    }
}

/* Max width 992px */
@media (max-width: 992px) {
    body {
        margin: 30px;
    }

    .container {
        display: grid;
        grid-template-columns: auto;
    }

    .content {
        width: 100%;
    }

    .sidebar {
        width: 100%;
    }

    .section1 {
        .media {
            width: 10%;
        }

        .text {
            width: 90%;
        }

        .introduce>h2 {
            font-size: 18px;
        }

        .img-text>img {
            height: 350px;
        }
    }

    .content>h1 {
        font-size: 30px;
    }

    .blog {
        display: flex;
    }

    .blog-related .blog .picture {
        width: 35%;
    }

    .blog-related .blog .content-blog {
        width: 65%;
    }

    p {
        font-size: 16px;
    }

    .content-blog>h2>a {
        font-size: 18px;
    }

    input,
    label {
        font-size: 16px;
    }

    .art-fashion .blog .picture>img {
        max-height: 110px;
    }

    .art-fashion .blog {
        display: flex;
    }

    .art-fashion .picture {
        width: 15%;
    }

    .art-fashion .content-blog {
        width: 55%;
    }

    .image-sidebar {
        text-align: center;
    }

    #image-sidebar {
        width: 50%;
    }

    .image-cus {
        width: 25%;
    }

    .content-cus {
        width: 75%;
    }

    .blog-related .blog .picture {
        width: 25%;
    }

    .blog-related .blog .content-blog {
        width: 75%;
    }

    .media1 {
        padding: 10px 0;
    }

    .contact>input {
        height: 20px;
    }

}


/* Max width 768px */
@media (max-width: 768px) {
    body {
        margin: 15px;
    }

    .section1 {
        display: grid;
        grid-template-columns: auto;
        gap: 0;

        .media {
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            gap: 10px;
        }

        .text {
            width: 100%;
        }
    }

    .blog-related {
        .blog {
            display: flex;
        }

        .blog .picture {
            width: 30%;
        }

        .blog .content-blog {
            width: 70%;
        }

    }

    .contact {
        display: grid;
        grid-template-columns: auto;
        gap: 15px;
        width: 100%;

        >input {
            width: auto;
        }
    }

    .art-fashion .content-blog {
        width: 80%;
    }

    .art-fashion .picture {
        width: 20%;
    }

    .text-note {
        padding: 0;
    }

    .rate {
        display: block;
        text-align: center;

        .image-cus,
        .content-cus {
            width: 100%;
        }
    }
}

/* Max width 576px */
@media (max-width: 576px) {
    p {
        font-size: 13px;
    }

    .note {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .note>p>i {
        font-size: 13px;
    }

    input {
        font-size: 15px;
    }

    label {
        font-size: 25px;
    }

    .tag>button {
        font-size: 15px;

    }

    .text-previous {
        font-size: 22px;
    }

    .content>h1 {
        font-size: 30px;
    }

    .section1 {
        display: grid;
        grid-template-columns: auto;
    }

    .media {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
        /* margin: 15px 0; */
    }


    .icon-media-facebook,
    .icon-media-twitter,
    .icon-media-pinterest,
    .icon-media-linkedin,
    .icon-media-heart,
    .icon-media-eye {
        width: 40px;
        /* height: 40px; */
        border-radius: 30px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
    }

    .text {
        width: 100%;
    }

    .introduce>h2 {
        font-size: 25px;
    }

    .introduce>p {
        font-size: 15px;
    }

    li {
        font-size: 15px;
    }

    .rate {
        display: block;
        text-align: center;
    }

    .icon-rate {
        font-size: 15px;
    }

    h5 {
        font-size: 22px;
    }

    .content-blog>h2>a {
        font-size: 20px;
    }

    .btn {
        font-size: 13px;
        width: 65px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .blog {
        display: grid;
        grid-template-columns: auto;
    }

    .contact {
        display: grid;
        grid-template-columns: auto;
    }

    .contact>input {
        height: 25px;
    }

    .save {
        width: 20px;
        height: 20px;
    }

    .art-fashion .blog {
        display: flex;
    }

    .art-fashion .picture {
        width: 25%;
    }

    .art-fashion .content-blog {
        width: 75%;
    }

    .content>button {
        font-size: 15px;
        width: 120px;
        height: 40px;
        line-height: 40px;
    }

    h3 {
        font-size: 22px;
    }

    .sidebar>h3 {
        font-size: 30px;
    }

    .media-slidebar {
        font-size: 22px;
    }

    label {
        font-size: 15px;
    }

    .tag>button {
        font-size: 13px;
    }

    .blog-related {
        .blog {
            display: grid;
            grid-template-columns: auto;
        }

        .blog .picture {
            width: 100%;
        }

        .blog .content-blog {
            width: 100%;
        }

        .blog-related .blog .picture>img {
            width: 100%;
            height: 250px;
        }

    }

}