body {
    max-width: 1200px;
    margin: auto auto;
    line-height: 1.5;
    font-family: Arial;
    /* text-align: justify; */
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 40px;
}

.content>button {
    margin-top: 40px;
}

.btn {
    width: 70px;
    height: 25px;
    line-height: 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.content>h1 {
    font-size: 40px;
    text-transform: capitalize;
}

.sidebar>h3 {
    font-size: 20px;
}

#image-sidebar {
    width: 100%;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
}

.content>img {
    max-width: 100%;
}

.note {
    display: flex;
    gap: 10px;
    color: #6f6f6f;

}

.note>p>i {
    text-align: left;
    font-size: 14px;
    padding: 0 10px;
}

i {
    margin-right: 0px;
}

.section1 {
    display: flex;
    width: 100%;
}

.media {
    width: 10%;
    margin: 30px 0;
}

.icon-media-facebook {
    background-color: #455fa1;
    color: #fff;
}

.icon-media-facebook,
.icon-media-twitter,
.icon-media-pinterest,
.icon-media-linkedin,
.icon-media-heart,
.icon-media-eye {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    border-radius: 30px;
    text-align: center;
    line-height: 40px;
}

.icon-media-twitter {
    background-color: #58abf5;
    color: #fff;
}

.icon-media-pinterest {
    background-color: #cd1d1f;
    color: #fff;

}

.icon-media-linkedin {
    background-color: #1980be;
    color: #fff;

}

.icon-media-heart,
.icon-media-eye {
    border: 1px solid black;
}

.media1 {
    padding: 15px 0;
    color: #fff;
}

#facebook {
    background-color: #45629f;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#youtube {
    background-color: #c61d23;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#vimeo {
    background-color: #1ab7ea;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

#pinterest {
    background-color: #e60023;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.index-name {
    padding-right: 10px;
}

.text {
    width: 90%;
    padding-right: 20px;
}

.introduce {
    max-width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
}

.introduce>h2 {
    font-size: 22px;
}

h3 {
    font-size: 28px;
}

h5 {
    font-size: 28px;
    margin: 10px 0px;
}

.introduce>p {
    font-size: 14px;
}

.image {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}

.image>img {
    width: 100%;
    border-radius: 10px;
}

.img-text {
    width: 100%;
    position: relative;
}

.img-text>img {
    width: 100%;
    height: 500px;
}

.img-text>p {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    /* max-height: 100%; */
    position: absolute;
    bottom: 0px;
    color: #fff;
    text-align: center;
}

.tag>button {
    /* font-weight: bold; */
    border-radius: 10px;
    border: 1px solid #777;
    margin: 20px 0px;
    background-color: #fff;
}

.previous {
    color: #777;
}

.text-previous {
    width: 45%;
    font-size: 20px;
    /* Viết hoa toàn bộ chữ đầu tiên của 1 từ */
    text-transform: capitalize;
}

.cus-rate {
    background-color: #f8f9fa;
    padding: 10px;
}

.rate {
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
    padding: 10px;
}

.content-cus {
    padding-right: 30px;
}

.image-cus>img {
    height: auto;
    border-radius: 600px;
}

.icon-rate>i {
    padding-right: 10px;
}

.blog-related {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
}

.blog {
    display: grid;
    grid-template-columns: 25% 70%;
    gap: 30px;
}

.blog .picture>img {
    width: 100%;
    height: 200px;
}

.blog .content-blog {
    width: 100%;
    /* margin: auto auto; */
}

.content-blog>h2 {
    margin: 0;

}

.content-blog>h2>a {
    text-decoration: none;
    font-size: 18px;
    line-height: 0;
    color: black;
}

.content-blog>p {
    margin: 0;
}

.text-note {
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    font-size: 20px;
    /* padding: 10px; */
    width: 100%;
    color: #555;
}

.contact-full {
    width: 100%;

}

.contact {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    margin: 20px 0px;
}

.contact>input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #777;

}

.btnsave {
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

.media1 {
    display: flex;
    justify-content: space-between;
}

.art-fashion {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
}

.art-fashion .blog .picture>img {
    width: 100%;
}

.content-blog>a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

img {
    border: 1px solid #777;
    border-radius: 10px;
}

/* Max width 1400px */
/* Max width 1200px */
@media (max-width: 1200px) {
    body{
        margin: 50px 30px;
    }
}

/* Max width 992px */
@media (max-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: auto;
    }
    
    .blog{
        display: flex;
    }

    .blog-related .blog .picture{
        width: 35%;
    }

    .blog-related .blog .content-blog{
        width: 65%;
    }

    .contact>input {
        height: 30px;
    }

    p{
        font-size: 16px;
    }

    .content-blog>h2>a {
        font-size: 20px;
    }

    input, label{
        font-size: 16px;
    }
    
    .art-fashion .blog .picture>img{
        height: 100px;
    }

    .art-fashion .blog{
        display: flex;
        float: left;
    }

    .art-fashion .picture{
        width: 15%;
    }

    .art-fashion .content-blog{
        width: 55%;
    }

    .image-sidebar{
        text-align: center;
    }
    #image-sidebar{
        width: 60%;
    }
}


/* Max width 768px */
@media (max-width: 768px) {
    .blog {
        display: grid;
        grid-template-columns: 35% 60%;
        gap: 30px;
    }

    .blog-related .blog .picture{
        width: 100%;
    }

    .blog-related .blog .content-blog {
        width: 100%;
        padding-right: 20px;
    }
}

/* Max width 576px */
@media (max-width: 576px) {
    p {
        font-size: 22px;
    }

    .note>p>i {
        font-size: 25px;
    }

    input {
        font-size: 20px;
    }

    label {
        font-size: 25px;
    }

    .tag>button {
        font-size: 20px;

    }

    .text-previous {
        font-size: 30px;
    }

    .content>h1 {
        font-size: 50px;
    }

    .section1 {
        display: grid;
        grid-template-columns: auto;
    }

    .media {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        gap: 10px;
        margin: 15px 0;
    }


    .icon-media-facebook,
    .icon-media-twitter,
    .icon-media-pinterest,
    .icon-media-linkedin,
    .icon-media-heart,
    .icon-media-eye {
        width: 60px;
        height: 60px;
        margin: 10px 0;
        border-radius: 30px;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
    }

    .text {
        width: 100%;
    }

    .introduce>h2 {
        font-size: 30px;
    }

    .introduce>p {
        font-size: 22px;
    }

    li {
        font-size: 25px;
    }

    .rate {
        display: block;
        text-align: center;
    }

    .icon-rate {
        font-size: 22px;
    }

    h5 {
        font-size: 30px;
    }

    .content-blog>h2>a {
        font-size: 25px;
    }

    .btn {
        font-size: 25px;
        width: 120px;
        height: 50px;
        line-height: 50px;
        margin-bottom: 15px;
    }
    
    .blog{
        display: grid;
        grid-template-columns: auto;
    }

    .blog .picture>img{
        height: 500px;
    }

    .contact{
        display: grid;
        grid-template-columns: auto;
    }

    .contact>input{
        height: 50px;
    }

    .save{
        width: 20px;
        height: 20px;
    }

    .art-fashion .blog{
        display: flex;
        float: left;
    }

    .art-fashion .picture{
        width: 15%;
    }

    .art-fashion .content-blog{
        width: 85%;
    }

    .content>button{
        font-size: 22px;
        width: 200px;
        height: 50px;
        line-height: 50px;
    }

    h3{
        font-size: 30px;
    }

    .sidebar >h3{
        font-size: 30px;
    }

    .media-slidebar{
        font-size: 22px;
    }
}