.container {
    /* white-space: nowrap;  */
    /* Ngăn chặn việc văn bản tràn ra ngoài */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 50px;

    .header {
        .preview-header {
            background-color: #262626;
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;

            a {
                text-decoration: none;
                color: #fff;
            }

            .preview-buy {
                width: 80px;
                height: 30px;
                line-height: 30px;
                background-color: #82b440;
                border-radius: 5px;
                border: 2px solid #6f9a37;
                text-align: center;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }

        .header-top-bar {
            .row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0 50px;
                background-color: black;

                .menu-primary {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 20px;
                        padding: 0;

                        li {
                            list-style: none;

                            a {
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }

                .social {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    color: #fff;
                    align-items: center;
                    text-align: center;
/* 
                    span {
                        line-height: 55px;

                    } */

                    .social-icon {
                        padding: 0;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;

                        li {
                            list-style: none;

                            a {
                                text-decoration: none;

                                i {
                                    color: #fff;
                                }
                            }
                        }
                    }
                    .auth-link{
                        color: #fff;
                    }
                    
                    .auth-link:hover{
                        color:darkkhaki;
                    }

                
                }
            }
        }

        .main-menu {
            padding: 20px 50px;
            height: auto;
            border: 1px solid #555;


            .menu-main {
                line-height: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;

                .logo-link {
                    background-color: #262626;

                    img {
                        height: 20px;
                    }
                }

                .menu-link {
                    .nav-pc {
                        ul {
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-wrap: wrap;
                            gap: 20px;

                            li {
                                list-style: none;

                                a {
                                    text-decoration: none;
                                    color: black;
                                }

                                .sub-menu {
                                    margin: 10px 0;
                                    display: block;
                                    width: 130px;
                                    height: 130px;
                                    background-color: #555;
                                }
                            }
                        }
                    }
                }

                .search-header {
                    .icon-media {
                        display: flex;
                        flex-wrap: wrap;

                        gap: 20px;
                        color: black;
                        line-height: 30px;

                        .mode {
                            width: 50px;
                            height: 20px;
                            line-height: 20px;
                            margin: 5px 0;
                            border-radius: 20px;
                            background-color: #555;
                            justify-content: center;
                            /* border: 1px solid #555; */

                            .day-mode {
                                background-color: #fff;
                                height: 100%;
                                width: 30px;
                                border-radius: 30px;
                                text-align: center;
                            }

                            .night-mode {
                                display: none;
                            }
                        }
                    }

                    .act-search {
                        #form-search {
                            background: #fff;
                            border-radius: 15px;

                            #search-text {
                                border: none;
                                outline: none;
                                background: none;
                                width: 0;
                                transition: all 0.25s ease-in-out;
                            }



                            #search-btn {
                                background-color: #fff;
                                cursor: pointer;
                                border: none;
                                border-radius: 15px;
                            }
                        }

                        #form-search:hover #search-text,
                        #form-search #search-text:valid {
                            width: 150px;
                            border: 1px solid #555;
                            border-radius: 30px;
                            padding: 5px;
                        }

                    }

                    .act-bars {
                        display: none;
                    }

                    .nav-overlay {
                        display: none;
                    }

                    .menu-link-mb {
                        .nav-mb {
                            display: none;
                        }
                    }
                }
            }
        }


    }
}

@media (max-width:1200px) {
    .container {
        /* white-space: nowrap;  */
        /* Ngăn chặn việc văn bản tràn ra ngoài */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        margin-bottom: 50px;

        .header {
            .main-menu {
                padding: 20px 20px;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        .header {
            .main-menu {
                .menu-main {
                    .menu-link {
                        display: none;
                    }

                    .search-header {
                        .icon-media {
                            display: none;
                        }

                        .act-bars {
                            display: block;
                        }

                        .nav-input:checked~.nav-overlay {
                            display: block;
                            position: fixed;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: rgba(0, 0, 0, 0.3);
                            z-index: 2;
                        }

                        .nav-input:checked~.menu-link-mb {
                            .nav-mb {
                                display: block;
                                position: fixed;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                width: 320px;
                                max-width: 100%;
                                z-index: 2;
                                background-color: #fff;

                                label {
                                    i {
                                        font-size: 30px;
                                        padding: 10px;
                                    }
                                }

                                .act-search {
                                    #form-search {
                                        margin: 10px;

                                        input {
                                            width: 100%;
                                            padding: 10px;
                                            border-radius: 5px;
                                        }

                                        button {
                                            width: 10%;
                                            background-color: #fff;
                                            padding: 5px;

                                            i {
                                                font-size: 18px;
                                            }
                                        }
                                    }
                                    #form-search:hover #search-text, #form-search #search-text:valid {
                                        width: 240px;
                                }
                            }

                        }

                        ul {
                            li {
                                list-style: none;
                                margin: 20px;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: 20px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}
}



@media (max-width: 768px) {}

@media (max-width: 576px) {}