.form-search {
    display: flex;
    gap: 20px;

    .search {
        width: 60%;

        input {
            width: 98%;
            padding: 10px 5px;
            border-radius: 5px;
        }

        .search-top {
            .filter {
                display: flex;
                gap: 30px;
                margin-bottom: 10px;

                h3 {
                    margin: 10px 0;
                    color: #555;
                    font-size: 18px;
                }

                select {
                    padding: 10px 25px;
                    border-radius: 5px;

                    option {
                        text-align: left;
                    }
                }
            }
        }

        .search-bottom {
            .list-post {
                display: flex;
                padding: 10px 0;

                .post-new {
                    list-style: none;

                    a {
                        border-radius: 3px 0 0 3px;
                        border: 1px solid #555;
                        padding: 10px 35px;
                    }

                }

                .post-related {
                    list-style: none;

                    a {
                        border-radius: 0 3px 3px 0;
                        border: 1px solid #555;
                        padding: 10px 35px;
                    }
                }
            }

            .result-search {
                display: flex;
                gap: 20px;

                .info-post {
                    width: 60%;
                }

                .image-post {
                    width: 40%;

                    img {
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }

    }
}

.sidebar {
    width: 40%;
    
    img {
        width: 100%;
        height: 350px;
    }
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    
    .pagination-item {
        .pagination-item-link {
            display: block;
            text-decoration: none;
            font-size: 16px;
            color: #939393;
            min-width: 40px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 2px;           
        }
    }
    
    .pagination-item--active {
        .pagination-item-link {
            background-color: orangered;
            color: #fff;
        }
    }
    .pagination-item--active {
        .pagination-item-link:hover {
            background-color:rgb(174, 114, 36);
        }
    }
}